In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset.csv')
print(df)

        Nome Sobrenome                         Email  UF     Cidade  \
0     Sergio     Costa  eduardo.oliveira@exemplo.com  DF   Brasília
1    Eduardo      Melo     quintino.melo@exemplo.com  PE     Recife
2     Sergio   Pereira    olivia.freitas@exemplo.com  CE  Fortaleza
3    Gustavo  Oliveira      gustavo.melo@exemplo.com  SP  São Paulo
4    Juliana  Oliveira    carlos.almeida@exemplo.com  DF   Brasília
..       ...       ...                           ...  ..        ...
995      Ana     Souza      helena.souza@exemplo.com  GO    Goiânia
996    Bruno     Costa      sergio.gomes@exemplo.com  PI   Teresina
997    Karen     Gomes   nicolas.pereira@exemplo.com  TO     Palmas
998   Carlos    Santos        ana.santos@exemplo.com  RN      Natal
999    Diana  Oliveira     igor.oliveira@exemplo.com  CE  Fortaleza

        Genero           Renda Média        Escolaridade   Estado Civil
0    Masculino   R$ 6.001 - R$ 8.000     Ensino Superior       Viúvo(a)
1    Masculino   R$ 6.001 - R$ 8.000           Doutorado  Divorciado(a)
2     Feminino   R$ 2.001 - R$ 4.000        Ensino Médio    Solteiro(a)
3     Feminino   R$ 2.001 - R$ 4.000           Doutorado       Viúvo(a)
4    Masculino    Acima de R$ 10.000     Ensino Superior  Divorciado(a)
..         ...                   ...                 ...            ...
995   Feminino   R$ 2.001 - R$ 4.000            Mestrado      Casado(a)
996  Masculino    Acima de R$ 10.000        Ensino Médio       Viúvo(a)
997   Feminino   R$ 4.001 - R$ 6.000     Ensino Superior       Viúvo(a)
998  Masculino   R$ 2.001 - R$ 4.000  Ensino Fundamental      Casado(a)
999   Feminino  R$ 8.001 - R$ 10.000            Mestrado       Viúvo(a)

[1000 rows x 9 columns]

In [3]:
#criando dicionário para renda média
renda_map = {
    'R$ 2.001 - R$ 4.000': 3000,
    'R$4.001 - R$ 6.000': 5000,
    'R$ 6.001 - R$ 8.000': 7000,
    'R$ 8.001 - R$ 10.000': 9000,
    'Acima de R$ 10.000': 11000
}

#Add novo campo de renda média, mas com valores inteiros 
df['renda_media_numerica'] = df['Renda Média'].map(renda_map)

In [4]:
#Agrupando valores de renda média por UF
renda_media_uf = df.groupby('UF')['renda_media_numerica'].mean().reset_index()
renda_media_uf['renda_media_numerica'] = renda_media_uf['renda_media_numerica'].round(2)
print(renda_media_uf)

    UF  renda_media_numerica
0   AM               7692.31
1   BA               7666.67
2   CE               7378.38
3   DF               8235.29
4   GO               7864.86
5   MA               7810.81
6   MG               6948.72
7   MS               7355.56
8   PA               7370.37
9   PE               7382.98
10  PI               6720.93
11  PR               6945.95
12  RJ               7871.79
13  RN               8655.17
14  RS               7413.79
15  SC               7325.58
16  SP               7903.23
17  TO               7666.67

In [5]:
renda_mediana_uf = df.groupby('UF')['renda_media_numerica'].median().reset_index()
print(renda_mediana_uf)

    UF  renda_media_numerica
0   AM                7000.0
1   BA                9000.0
2   CE                7000.0
3   DF                9000.0
4   GO                7000.0
5   MA                7000.0
6   MG                7000.0
7   MS                7000.0
8   PA                7000.0
9   PE                7000.0
10  PI                7000.0
11  PR                7000.0
12  RJ                9000.0
13  RN                9000.0
14  RS                9000.0
15  SC                7000.0
16  SP                9000.0
17  TO                9000.0